.chat-window {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  background-color: #e5ddd5;
  height: 100vh;
}

.chat-header {
  padding: 10px;
  background-color: #f0f2f5;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.message-list {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #e5ddd5;
}

.message {
  max-width: 70%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
}

.sent {
  background-color: #dcf8c6;
  align-items: flex-end;
}

.received {
  background-color: #ffffff;
  align-self: flex-start;
}

.message-input {
  display: flex;
  padding: 10px;
  background-color: #f0f2f5;
  border-top: 1px solid #ccc;
}

.message-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.message-input button {
  background-color: #075e54;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #0a7c62;
}

.delete-button {
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
  margin-left: 600px;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 5px;
}
